<div class="select-container center">
  <div class="row center">

      <a href="https://en.houstonbroker.com">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          English
        </p>
        <a href="https://en.houstonbroker.com" class="simple-cta-link">
          View Site
        </a>
      </div>
      </a>

      <a href="https://es.houstonbroker.com">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Español
        </p>
        <a href="https://es.houstonbroker.com" class="simple-cta-link">
          Ver Sitio
        </a>
      </div>
      </a>

  </div>
</div>
